.first{
    font-family: 'Montserrat-Bold';
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    // background-color: aqua;
    height: 750px;
    @media (max-width: 700px){
        flex-direction: column;
        // width: 100%;
        height: auto;
        margin-bottom: 80px;

        align-items: center;
        // justify-content: center;
    }
}
.track{
    position: absolute;
    right: 20px;
    @media (max-width: 700px){
        width: 260px;
        height: 245px;
        position: relative;
    }
}
.content{
    width: 615px;
    display: flex;
    flex-direction: column;
    @media (max-width: 700px){
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    gap: 15px;
    
}
.first_text{
    font-family: 'Montserrat-Medium';
    font-size: 48px;
    margin: 0;
    @media (max-width: 700px){
    font-size: 28px;
    text-align: center;
}
}
.second_text{
    font-family: 'Montserrat-Medium';
    font-size: 32px;
    margin: 0;
    @media (max-width: 700px){
        font-size: 24px;
        text-align: center;
        }
}
.bold{
    font-family: 'Montserrat-Bold';

}
.orange{
    color: #F06602;
}
.btn_services{
    border: #F07502 2px solid;
    height: 40px;
    width: 130px;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    a{
        text-decoration: none;
        color: #000;
        font-family: 'Montserrat-Bold';
        font-size: 16px;
        }
}
.btn_services:hover{
    background-color: #F07502;
    a{color: #fff}

}