.footer{
    margin-top: 135px;
    width: 98.7vw;
    height: 400px;
    // background-color: aqua;
    background-image: url('../Images/Footer_web.png');
    display: flex;
    align-self: center;
    background-size:cover; 
    justify-content: center;
    @media (max-width: 700px){
        height: 500px;
    }
}
.footer_content{
    display: flex;
    flex-direction: column;
    width: 1280px;
    align-self: flex-end;
    // margin-bottom: 50px;
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    color: white;
    gap: 15px;
    a{
        font-family: 'Montserrat-Medium';
        color: white;
        text-decoration: none;
    }
    @media (max-width: 700px){
        margin-bottom: 20px;
        align-items: flex-start;
    }
}
.contact_content{ 
    display: flex;
    gap: 15px;
}
.icons_footer{
    width: 50px;
}
.contact_end{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // a{
    //     text-decoration: none;
    //     font-family: 'Montserrat-Medium';
    //     align-self: flex-start;

    // }
    @media (max-width: 700px){
        flex-direction: column ;
        justify-self: start;
        gap: 10px;
    }
}
.end{
    color: #bebebe;
    margin-bottom: 0px;
    // justify-content: space-between;
    // display: flex;
    // align-self: flex-end;
    text-decoration: none;
    font-family: 'Montserrat-Medium';
    
}
.lolipop{
    font-size: 15px;
    @media (max-width: 700px){
    align-self: flex-start;}
}